[Unit]
Description=XDG Desktop service (GTK)
After=dbus.service

[Service]
ExecStart=/usr/libexec/xdg-desktop-portal-gtk
Restart=OnFailure

[Install]
WantedBy=default.target
